body{
    background-image: url('bgbrown.gif');
    background-size: cover; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

#title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    max-height: 20%;
}

/* DROPDOWNS */

button {
    border: 1px solid black;
    border-radius: 3px;
}

nav > ul {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

nav > ul > li {
    position: relative;
    display: inline-block;
}

button.nav {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
}

.dropContent button {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    text-align: left;
}

.dropButton {
    background-color: #8facc0;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.dropButton:hover{
    background-color: #4e7086;
}

.dropContent, .dropClickContent {
    position: absolute;
    z-index: 1;
    display: none;
    background-color: rgb(190,220,247);
    font-size: 100%;
    border: 1px solid black;
}

.show {
    display: block;
}

#addTask textarea {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

@media all and (min-width: 768px) {
    nav > ul {
	    grid-template-columns: repeat(3, 1fr);
    }
}

/* END DROPDOWNS */

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

#dateseen {
    text-align: center;
}

#constellations {
    display: flex;
    flex-wrap: wrap;
}

.boxed-elts{
    padding: 10px;
    margin: 5px;
    width: 100px;
    /* background-color: #8facc0; */
    background-color: rgba(143, 172, 192, 0.75);
}
